{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block styles %}
    <style>
        .button {
            padding: 3px 12px;
            font-size: 18x;
            width: 60px;
            text-align: center;
            cursor: pointer;
            outline: none;
        }

        .button:hover {background-color:lightgray; }

        .button:active {
            border-color: dimgray;
        }

        /* Create two equal columns that floats next to each other */
        .column {
            float: left;
            width: 50%;
        }
    </style>
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}
    <p>
        Imagine that Denmark is preparing for the outbreak of an unusual contagious disease, which is expected to kill
        600 people. Two alternative programs to combat the disease have been proposed.
        Assume that the exact scientific estimates of the consequences of the programs are as follows:
    </p>

    {% if player.gain_framing %}
        <div class="container" style="alignment:center">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-5">
                    <p>Program A:</p>
                    <p style="margin-left: 10px">200 people will be saved</p>
                </div>
                <div class="col-sm-5">
                    <p>Program B:</p>
                    <p>1/3 probability that 600 people will be saved and</p>
                    <p>2/3 probability that no people will be saved </p>
                </div>
                <div class="col-sm-1"> </div>
            </div>
        </div>
    {% else %}
                <div class="container" style="alignment:center">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-5">
                    <p>Program A:</p>
                    <p style="margin-left: 10px"> 400 people will die</p>
                </div>
                <div class="col-sm-5">
                    <p>Program B:</p>
                    <p> 1/3 probability that nobody will die and</p>
                    <p> 2/3 probability that 600 people will die</p>
                </div>
                <div class="col-sm-1"> </div>
            </div>
        </div>
    {% endif %}
    <div id="guess">
        </p>

        <div class="row">
            <div class="col-sm-5"></div>
            <div class="col-sm-2"> {{ form.choice }} </div>
            <div class="col-sm-5"></div>
        </div>
        <br>
        <div style="text-align:right">
            {% next_button %}
        </div>
    </div>
{% endblock %}
