{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
{% endblock %}


{% block content %}
    <p>The payoff table for each round of the game is shown as follows. Recall that the match continues with an 80% change after each round.</p>
    <table class='table table-bordered text-center'
           style='width: auto; margin: auto'>
        <tr>
            <th colspan=2 rowspan=2></th>
            <th colspan=2 style="color:red;">Player 2</th>
        </tr>
        <tr>
            <th style="text-align:center;color:red;width:35%;"> {{ Constants.action_labels.0 }}</th>
            <th style="text-align:center;color:red;width:35%;"> {{ Constants.action_labels.1 }}</th>
        </tr>
        <tr>
            {#        <th rowspan=2><span class="rotate90">Player 1</span></th>#}
            <th rowspan=2 style="color:blue; vertical-align : middle;text-align:center;"">Player 1</th>
            <th align ="center" style="color:blue;">{{ Constants.action_labels.0 }}</th>
            <td><span style="color:blue;">{{ pmat.0.0 }}</span>, <span style="color:red;">{{ pmat.1.0 }}</span></td>
            <td><span style="color:blue;">{{ pmat.0.1 }}</span>, <span style="color:red;">{{ pmat.1.2 }}</span></td>
        </tr>
        <tr>
            <th align = "center" style="color:blue;">{{ Constants.action_labels.1 }}</th>
            <td><span style="color:blue;">{{ pmat.0.2 }}</span>, <span style="color:red;">{{ pmat.1.1 }}</span></td>
            <td><span style="color:blue;">{{ pmat.0.3 }}</span>, <span style="color:red;">{{ pmat.1.3  }}</span></td>
        </tr>
    </table>
    <br>

    <p>
        Consider the case where both players chose C in a round and the match did not end. Out of all those occurrences for all the participants,
    </p>


    <hr/>
    <div class="container" style="alignment:center">
        <div class="row">
            <div class="col-sm-1"> </div>
            <div class="col-sm-8"> What is the percentage of time that Player 1 chooses D in the next round (0~100)? </div>
            <div class="col-sm-2"> {{ form.percentage1 }} </div>
            <div class="col-sm-1">  </div>
        </div>
    </div>
<hr/>
    <p>
        Your guess is considered correct if it is within 2 percentage points of the actual occurrence.
    </p>
    <p>
        You will receive {{ payment_currency }}{{ payment_per_decision }} additional payment if your guess is correct.
    </p>


    <div style="text-align:right">
        {% next_button %}
    </div>



{% endblock %}
