<div>
    <p>
        In a previous experiment, a number of participants were randomly assigned the role of Player 1 and Player 2,
        and matched to play a game that last for several rounds.
    </p>

    <h5> Participants’ Decision and Payoff </h5>
    <p>
        In each round, participants can choose two actions: C or D. The participants' earnings for each round are determined
        by the following payoff table:
    </p>

    <table class='table table-bordered text-center'
           style='width: auto; margin: auto'>
        <tr>
            <th colspan=2 rowspan=2></th>
            <th colspan=2 style="color:red;">Player 2</th>
        </tr>
        <tr>
            <th style="text-align:center;color:red;width:35%;"> {{ Constants.action_labels.0 }}</th>
            <th style="text-align:center;color:red;width:35%;"> {{ Constants.action_labels.1 }}</th>
        </tr>
        <tr>
            {#        <th rowspan=2><span class="rotate90">Player 1</span></th>#}
            <th rowspan=2 style="color:blue; vertical-align : middle;text-align:center;"">Player 1</th>
            <th align ="center" style="color:blue;">{{ Constants.action_labels.0 }}</th>
            <td><span style="color:blue;">{{ pmat.0.0 }}</span>, <span style="color:red;">{{ pmat.1.0 }}</span></td>
            <td><span style="color:blue;">{{ pmat.0.1 }}</span>, <span style="color:red;">{{ pmat.1.2 }}</span></td>
        </tr>
        <tr>
            <th align = "center" style="color:blue;">{{ Constants.action_labels.1 }}</th>
            <td><span style="color:blue;">{{ pmat.0.2 }}</span>, <span style="color:red;">{{ pmat.1.1 }}</span></td>
            <td><span style="color:blue;">{{ pmat.0.3 }}</span>, <span style="color:red;">{{ pmat.1.3  }}</span></td>
        </tr>
    </table>

    <br>

    <p>
        In this table, the first number in each cell represents Player 1’s payoff, and the second number is Player 2’s payoff. For example:
    </p>

    <ul style="list-style-type:none;">
        <li> If Player 1 chooses {{ Constants.action_labels.0 }} and Player 2 chooses {{ Constants.action_labels.0 }}, Player 1 earns {{ pmat.0.0 }} and Player 2 participant earns {{ pmat.1.0 }}. </li>
        <li> If Player 1 chooses {{ Constants.action_labels.0 }} and Player 2 chooses {{ Constants.action_labels.1 }}, Player 1 earns {{ pmat.0.1 }}  and Player 2 participant earns {{ pmat.1.2 }}. </li>
        <li> If Player 1 chooses {{ Constants.action_labels.1 }} and Player 2 chooses {{ Constants.action_labels.0 }}, Player 1 earns {{ pmat.0.2 }} and Player 2 participant earns {{ pmat.1.1 }}. </li>
        <li> If Player 1 chooses {{ Constants.action_labels.1 }} and Player 2 chooses {{ Constants.action_labels.1 }}, Player 1 earns {{ pmat.0.3 }}  and Player 2 participant earns {{ pmat.1.3 }}. </li>
    </ul>


    <h5> The Number of Rounds </h5>
    <p>
        The match consists of a number of rounds. The exact number is randomly determined by the rolling of a die.
    </p>
    <p>
        At the end of each round, a die with twenty sides is rolled. If the numbers 1-16 appear, the match will continue for another round.
        If the numbers 17-20 appear, the match ends.
    </p>

    <p>In other words, after one round is played, the chance that the match will continue for another round is 16 out of 20.</p>
</div>
