{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    <div style="text-align:center">
    Welcome to the experiment
    <div/>
{% endblock %}


{% block content %}

    <div class="card bg-light instructions" >
    <br>
        <p style="margin-left: 20px;margin-right:20px">
            You are about to take part in an experiment on decision-making.
        </p>

        <p style="margin-left: 20px;margin-right:20px">
            Your earnings for the experiment will depend the decisions you make.
            It is therefore important that you take your time to understand the instructions.
        </p>

{#        <p style="margin: 20px">#}
{#            Please do not communicate with the other participants during the experiment.#}
{#            Should you have any questions, please raise your hand and an experimenter will come and answer your questions.#}
{#        </p>#}

        <p style="margin-left: 20px;margin-right:20px">
            You will receive a {{ payment_currency }}{{ showup_fee }} show-up fee for the participation of the experiment.
        </p>

        <p style="margin-left: 20px;margin-right:20px">
            Your main task in this experiment is to guess the behaviors of the participants in a previous experiment.
            Depending on the accuracy of your guesses, you can earn additional payment.
        </p>


        <p style="margin-left: 20px;margin-right:20px">
            The experiment requires your attention. If you are unresponsive for a long period of time, you will be marked
            as a dropout and you will not be able to receive any payment.
        </p>
    </div>

    <br>
    <div style="text-align:center">
        <button id="button_start" class="btn btn-success btn-lg text-center" >Start</button>
    </div>
{% endblock %}

