{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
{% endblock %}

{% block content %}
    <div style="text-align: center">
        <p>This is the end of the experiment.</p>
        <p> <strong> Payment Information </strong> </p>
        <table class="table table-bordered">
            <tr> <td>Participation fee</td><td>{{ participation_fee }}</td> </tr>
            {% if treatment == 'UNEQ' %}
                <tr> <td>Earnings from Task I</td><td>{{ real_currency }}{{ paymentI }}</td> </tr>
                <tr> <td>Earnings from Task II</td><td>{{ real_currency }}{{ paymentII }}</td> </tr>
            {% else %}
                <tr> <td>Earnings from the task</td><td>{{ real_currency }}{{ paymentI }}</td> </tr>
            {% endif %}

            <tr> <td>Total Payment </td> <td>{{ real_currency }}{{ final_payment|floatformat:2 }}</td> </tr>
        </table>
    </div>
{% endblock %}


